<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Movies</h1>
    HELLO MOVIES

<table>
<thead>
<th>
Title
</th>
<th>
Year
</th>
</thead>
<tbody>
<% movies.each do |movie| %>
<tr>
<td>
<%= movie.title %>
</td>
<td>
<%= movie.year %>
</td>
</tr>
<% end %>
</tbody>
</table>
</body>
</html>